.new-controls
{
  margin-top: 1em;
}

.new-controls > .btn
{
  margin-left: 10px;
}

.main-container
{
  margin-top: 1.25em;
}

.container-panel
{
  padding: 2em;
  margin-bottom: 1em;
}

.search-clear
{
  position:absolute;
  right:5px;
  top:0;
  bottom:0;
  height:14px;
  margin:auto;
  font-size:14px;
  cursor:pointer;
  color:#ccc;
}

.search-clear:hover
{
  color:#aaa;
}

.modal-content
{
  padding: 1em;
}

.note-editor
{
  margin-bottom: 0;
}

.img-hover 
{
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.img-hover-image 
{ 
  display: block; 
}

.img-hover-body 
{
  cursor: pointer;
  background: rgba(41, 128, 185, 0.7);
  bottom: 0;
  color: white;
  font-size: 1em;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 3.75em 3em;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.img-hover-body:hover 
{ 
  opacity: 1; 
}

.img-hover-body:after,
.img-hover-body:before 
{
  border: 1px solid rgba(255, 255, 255, 0.7);
  bottom: 1em;
  content: '';
  left: 1em;
  opacity: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: 0.6s 0.2s;
  transition: 0.6s 0.2s;
}

.img-hover-body:before 
{
  border-bottom: none;
  border-top: none;
  left: 2em;
  right: 2em;
}

.img-hover-body:after 
{
  border-left: none;
  border-right: none;
  bottom: 2em;
  top: 2em;
}

.img-hover-body:hover:after,
.img-hover-body:hover:before 
{
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.img-hover-body h2 
{ 
  margin-top: 0; 
}

.img-hover-body p 
{ 
  margin-bottom: 1.5em; 
}